@use "../abstract/variables" as v;

#presentation {
    .container {
        display: flex;
        justify-content: space-around;
        height: 80vh;
        .presentation-img {
            width: 21%;
            img {
                width: 100%;
            }
        }
        .presentation-text {
            width: 50%;
            color: v.$text-color;
            h1 {
                color: v.$click-color;
            }
            h2:last-of-type {
                color: v.$click-color;
            }
            p {
                margin: 4vh 0 16vh 0;
                width: 75%;
            }
            a {
                text-transform: uppercase;
            }
        }
    }
}