@font-face {
  font-family: "Tomorrow";
  src: url(../fonts/Tomorrow/Tomorrow-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
}
.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container ul {
  display: flex;
  justify-content: space-around;
  gap: 6vh;
  list-style: none;
}
header .container ul li a {
  color: #F6F6F6;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px #F6F6F6;
  transition: 200ms;
}
header .container ul li a:hover {
  text-shadow: 0px 6px 4px #F6F6F6;
}
header .container ul li .active {
  color: #1DDDBC;
}
header .container .menu {
  display: none;
}
header .container button {
  color: #0C0C0C;
  text-transform: uppercase;
}

footer {
  background-color: rgba(246, 246, 246, 0.1);
}
footer .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4vh;
}
footer .container .footer-rs img {
  transition: 500ms;
}
footer .container .footer-rs img:hover {
  rotate: 25deg;
}

body {
  margin: 0;
  background-color: #0C0C0C;
}

h1, h2, h3, h4 {
  font-family: "Tomorrow";
}

p, label {
  font-family: "Quicksand";
}

a {
  text-decoration: none;
  font-family: "Tomorrow";
}

#presentation .container {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}
#presentation .container .presentation-img {
  width: 21%;
}
#presentation .container .presentation-img img {
  width: 100%;
}
#presentation .container .presentation-text {
  width: 50%;
  color: #F6F6F6;
}
#presentation .container .presentation-text h1 {
  color: #1DDDBC;
}
#presentation .container .presentation-text h2:last-of-type {
  color: #1DDDBC;
}
#presentation .container .presentation-text p {
  margin: 4vh 0 16vh 0;
  width: 75%;
}
#presentation .container .presentation-text button {
  text-transform: uppercase;
}
#presentation .container .presentation-text #downloadBtn {
  background-color: #0C0C0C;
}
#presentation .container .presentation-text #downloadBtn:hover {
  background-color: #1DDDBC;
  color: #0C0C0C;
}

#about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .container h2, #about .container p {
  color: #F6F6F6;
  text-align: center;
}
#about .container p {
  width: 50%;
  line-height: 3;
  margin-top: 12vh;
  margin-bottom: 19vh;
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  8% {
    transform: translate(-2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  28% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, -2px);
    opacity: 0.5;
  }
  33% {
    transform: none;
    opacity: 0.25;
  }
  45% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  60% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  78% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
#cards .container {
  display: flex;
  flex-direction: column;
}
#cards .container .card-top, #cards .container .card-bottom {
  display: flex;
  justify-content: space-around;
  margin: 0 0 4vh 0;
}
#cards .container .card-bottom .card:last-child {
  opacity: 0.1;
  background-image: url(../img/w.png);
  background-size: contain;
  background-position: 0 150px;
  background-repeat: no-repeat;
}
#cards .container .card-bottom .card:last-child img {
  opacity: 0.5;
  object-fit: cover;
  height: 100%;
}
#cards .container .card-bottom .card:last-child img:hover {
  animation: glitch3 0.8s infinite;
}
#cards .container .card-bottom .card:last-child:hover {
  animation: glitch3 0.3s infinite;
}

#projets .container .fiches {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
#projets .container .fiches .fiche {
  align-items: center;
  position: relative;
  border-radius: 8px;
}
#projets .container .fiches .fiche .fiche-img img {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
#projets .container .fiches .fiche .boutton {
  position: absolute;
  right: 2vh;
  text-transform: uppercase;
}
#projets .container .fiches .fiche:nth-of-type(2) {
  flex-direction: row-reverse;
}
#projets .container .fiches .fiche:nth-of-type(2) .fiche-img img {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#projets .container .fiches .fiche:nth-of-type(2) .fiche-text {
  position: absolute;
  text-align: end;
  right: 10vh;
  padding: 0 0 0 0;
}
#projets .container .fiches .fiche:nth-of-type(2) .boutton {
  left: 2vh;
  right: inherit;
}

@media screen and (max-width: 1024px) {
  body #about .container p {
    width: 100%;
  }
  body #cards .container .card-top, body #cards .container .card-bottom {
    flex-direction: column;
    margin: 0;
  }
  body #cards .container .card-top .card, body #cards .container .card-bottom .card {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin: 2vh 0;
  }
  body #cards .container .card-top .card .card-img, body #cards .container .card-bottom .card .card-img {
    width: 30vh;
    height: 20vh;
  }
  body #cards .container .card-top .card .card-img img, body #cards .container .card-bottom .card .card-img img {
    height: 80%;
    object-position: center;
    object-fit: contain;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  body #cards .container .card-bottom .card:last-child {
    background-position: center;
    background-repeat: repeat;
  }
}
@media screen and (max-width: 785px) {
  .container {
    max-width: 768px;
    width: 95%;
    justify-content: space-evenly;
  }
  .container ul {
    display: none;
  }
  .container .menu {
    display: block !important;
  }
  .container button#burger {
    display: block !important;
    background: transparent;
    border: none;
    z-index: 1000;
  }
  .container button#burger img {
    width: 24px;
    height: 24px;
  }
  .container #navLinks {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 1rem;
    border-radius: 8px;
    z-index: 1000;
  }
  .container #navLinks.active {
    display: flex;
  }
}
@media screen and (max-width: 517px) {
  body main #presentation .container .presentation-img {
    display: none;
  }
  body main #presentation .container .presentation-text {
    width: inherit;
    text-align: center;
  }
  body main #presentation .container .presentation-text p {
    width: 100%;
  }
  body main #cards .container .card-top .card, body main #cards .container .card-bottom .card {
    flex-direction: column;
    height: inherit;
  }
  body main #projets .container .fiches .fiche {
    flex-direction: column;
    height: 60vh;
    position: inherit;
  }
  body main #projets .container .fiches .fiche .fiche-img {
    height: 50%;
  }
  body main #projets .container .fiches .fiche .fiche-img img {
    border-radius: 0;
  }
  body main #projets .container .fiches .fiche .fiche-text {
    display: flex;
    flex-direction: column;
  }
  body main #projets .container .fiches .fiche .fiche-text h3, body main #projets .container .fiches .fiche .fiche-text p {
    width: 100%;
    margin: 4vh 0;
    padding: 0;
    text-align: center;
  }
  body main #projets .container .fiches .fiche .boutton {
    position: inherit;
    margin: 0 0 10vh 0;
  }
  body main #projets .container .fiches .fiche:nth-of-type(2) {
    flex-direction: inherit;
  }
  body main #projets .container .fiches .fiche:nth-of-type(2) .fiche-img img {
    border-radius: 0;
  }
  body main #projets .container .fiches .fiche:nth-of-type(2) .boutton {
    position: inherit;
    left: inherit;
  }
  body main #projets .container .fiches .fiche:nth-of-type(2) .fiche-text {
    position: inherit;
    text-align: inherit;
  }
}
.btn {
  padding: 1rem 1rem;
  background-color: #1DDDBC;
  border-radius: 4px;
  box-shadow: 0px 0px 20px rgba(246, 246, 246, 0.2);
  border: 2px solid #0C0C0C;
  transition: 200ms;
}

.btn:hover {
  color: #1DDDBC;
  background: #0C0C0C;
  border: 2px solid #1DDDBC;
}

.btn-second {
  padding: 1rem 2rem;
  border: 2px solid #1DDDBC;
  border-radius: 2px;
  color: #1DDDBC;
  box-shadow: 0px 0px 20px rgba(246, 246, 246, 0.2);
  transition: 200ms;
}

.btn-second:hover {
  background-color: #1DDDBC;
  color: #0C0C0C;
}

.btn-thirsty {
  padding: 1rem 1.5rem;
  border: 2px solid #1DDDBC;
  border-radius: 4px;
  color: #1DDDBC;
  box-shadow: 0px 0px 20px rgba(246, 246, 246, 0.2);
  transition: 200ms;
}

.btn-thirsty:hover {
  background-color: #1DDDBC;
  color: #F6F6F6;
}

.card {
  width: 25%;
  background-color: #F6F6F6;
  border-radius: 4px;
}
.card .card-img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.card .card-img img {
  object-fit: cover;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: hidden;
}
.card .card-text {
  text-align: center;
  width: 100%;
}
.card .card-text h3, .card .card-text p {
  color: #0C0C0C;
}

.fiche {
  display: flex;
  background-color: #F6F6F6;
  height: 20vh;
  width: 100%;
}
.fiche .fiche-img {
  width: 20vh;
  height: 100%;
}
.fiche .fiche-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fiche .fiche-text h3, .fiche .fiche-text p {
  color: #0C0C0C;
  padding: 0 1rem;
  background-color: #F6F6F6;
  margin: 0;
  width: 60%;
}
.formulaire-message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #1DDDBC;
  color: #F6F6F6;
}
.formulaire-message.hidden {
  display: none;
}

.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form-container {
  background-color: #0C0C0C;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  color: #F6F6F6;
}

.form-container input, .form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 1px solid #F6F6F6;
}

.form-container button:first {
  border: 1px solid #1DDDBC;
}

.form-container textarea {
  max-width: 90%;
  min-height: 30vh;
}

.form-container button {
  background-color: #0C0C0C;
  color: #F6F6F6;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.form-container button:first-of-type {
  border: 1px solid #1DDDBC;
  color: #1DDDBC;
  text-align: center;
}

.form-container button:first-of-type:hover {
  color: #0C0C0C;
}

.form-container button:last-of-type:hover {
  color: inherit;
  border: inherit;
}

.form-container .cancel {
  background-color: #f44336;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.form-popup {
  animation: showModal 0.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
